@font-face{
    font-family: 'Ereaser';
    src: local('Ereaser'), url(../fonts/erasdust.ttf);
}

@font-face{
    src: url(/fonts/BBManualMonoProTX.ttf);
    font-family: "Beyonce";
}

:root{
    --dark-color: #020617;
    --light-color: #f1f5f9;
    --nav-color: #f1f5f9;
    --link-color: #f1f5f9;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Beyonce", "Ereaser", sans-serif;
    font-size: 20px;
    font-weight:lighter;
    background-color: var(--dark-color);
}

.nav-text {
    font-family: "Ereaser", sans-serif;
    font-size: 20px;
    font-weight:lighter;
    color: var(--nav-color);
    text-decoration: none;
    text-shadow: 0 0 8px #000000;
}

#header {
    z-index: 9;
    width: 100%;
    position: fixed;
}

#header-content{
    display: flex;
    justify-content: center;
}

.nav-link{
    padding: 20px 10px;
    border: 50;
}

#main-container{
    line-height: 0;
}

.main-images{
    width: 100%;
    height: auto;
    padding: 0px;
}

.video-play{
    position: relative;
    text-align: center;
}

.link-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-text {
    font-family: "Ereaser", sans-serif;
    font-size: 22px;
    font-weight:lighter;
    color: var(--link-color);
    text-decoration: none;
    text-shadow: 0 0 8px #000000;
}

#site-footer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
    margin: 10px 0;
    padding: 5px 0;
    background-color: transparent;
}

.footer-links {
    padding: 5px 5px;
}

#social-links{
    margin: 0;
    font-family: "Ereaser", sans-serif;
    font-size: 15px;
    font-weight:lighter;
    color: var(--link-color);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 8px #000000;
}

.footer-legal{
    padding: 2px 0;
}

#footer-legal{
    margin: 0;
    font-family: "Ereaser", sans-serif;
    font-size: 15px;
    font-weight:lighter;
    color: var(--light-color);
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 8px #000000;
    
}